<div *ngIf="user" class="flex justify-center mt-10">
  <div class="bg-white shadow-xl rounded-2xl p-6 w-96 text-center">
    <button 
        [routerLink]="['/home']"
        class="px-5 mb-3 py-3 bg-purple-600 text-white font-semibold rounded-full shadow-md hover:bg-purple-700 transform hover:scale-105 transition duration-200">
        Home
      </button>
    <!-- Avatar -->
    <img [src]="avatarUrl" 
         alt="User Avatar" 
         class="w-24 h-24 mx-auto rounded-full border-4 border-indigo-500 shadow-md cursor-pointer
            transition-transform duration-200 hover:scale-105 hover:border-blue-500"
         (click)="showAvatarInput = !showAvatarInput"
         aria-label="Change Avatar">

    <!-- Avatar Input-->
     <div *ngIf="showAvatarInput" class="mt-2 flex items-center justify-center space-x-2">
        <img *ngFor="let avatar of avatars"
       [src]="getAvatarUrl(avatar)"
       [alt]="avatar"
       class="w-16 h-16 rounded-full border-2 border-transparent cursor-pointer hover:border-blue-500"
       [class.border-blue-500]="user?.avatar === avatar" 
       (click)="onSelectAvatar(avatar)">
     </div>

    <!-- Username -->
    <div class="mt-4 flex items-center justify-center space-x-1">
      <span class="text-gray-600 font-medium">Username:</span>
      <p class="text-gray-500">{{ user.username }}</p>
      <button mat-icon-button color="primary" 
              class="p-1"
              (click)="showUsernameInput = !showUsernameInput" 
              aria-label="Edit username">
        <mat-icon class="text-sm">edit</mat-icon>
      </button>
    </div>

    <!-- Username input -->
    <div *ngIf="showUsernameInput" class="mt-2 flex items-center justify-center space-x-2">
      <input [(ngModel)]="newUsername"
             placeholder="New username"
             class="border border-gray-300 rounded-lg px-2 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-400" />
      <button mat-raised-button color="primary" 
              (click)="updateUsername(user!.id, newUsername)">
        Save
      </button>
    </div>

    <!--Change Password-->
    <div class="mt-4 flex items-center justify-center space-x-1">
      <span class="text-gray-600 font-medium">Change Password</span>
      <button mat-icon-button color="primary" 
              class="p-1"
              (click)="showPasswordInput = !showPasswordInput" 
              aria-label="Change Password">
        <mat-icon class="text-sm">edit</mat-icon>
      </button>
    </div>

    <!--Password Input-->
    <div *ngIf="showPasswordInput"  class="mt-2 flex items-center justify-center space-x-2">
      <input type="password" [(ngModel)]="oldPassword"
              placeholder="Current Password"
              class="border border-gray-300 rounded-lg px-2 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-400">
              <input type="password" [(ngModel)]="password"
              placeholder="new Password"
              class="border border-gray-300 rounded-lg px-2 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-400">
        <button mat-raised-button color="primary" 
              (click)="updatePassword(user!.id, oldPassword, password)">
        Save
      </button>

    </div>

    <!-- Email -->
    <div class="mt-4 flex items-center justify-center space-x-1">
      <span class="text-gray-600 font-medium">Username:</span>
      <p class="text-gray-500">{{ user.email }}</p>
      <button mat-icon-button color="primary" 
              class="p-1"
              (click)="showEmailInput = !showEmailInput" 
              aria-label="Edit email">
        <mat-icon class="text-sm">edit</mat-icon>
      </button>
    </div>

    <!-- Email input -->
    <div *ngIf="showEmailInput" class="mt-2 flex items-center justify-center space-x-2">
      <input [(ngModel)]="newEmail"
             type="email"
             placeholder="New email"
             class="border border-gray-300 rounded-lg px-2 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-400" />
      <button mat-raised-button color="primary" 
              (click)="updateEmail(user!.id, newEmail)">
        Save
      </button>
    </div>
  </div>
</div>
